@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<section>
    <div id="carouselExample" class="carousel slide flex-grow-1 overflow-hidden bg-secondary" data-bs-ride="carousel" style="height: 650px">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/carousel1.png" style="object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="images/carousel2.png" style="object-fit: cover;">
            </div>
            <div class="carousel-item">
                <img src="images/carousel3.png" style="object-fit: cover;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="d-flex justify-content-center align-items-center text-white text-uppercase bg-black py-3 px-5" style="letter-spacing: 10px">
        shop now, pay later and get up to &nbsp;<span class="fw-bold text-danger">20%</span>&nbsp; off your first credit order
    </div>
    <div class="p-5">
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="fs-4 fw-bold m-0">Most Popular</p>
        </div>
        <div class="container-fluid overflow-hidden p-0">
            <div class="row row-cols-5 gx-4 gy-4">
                @foreach (var item in Model.Take(5))
                {
                    <a asp-controller="Products"
                       asp-action="Details"
                       asp-route-id="@item.Id"
                       class="col d-flex flex-column text-reset text-decoration-none" style="height: 500px">
                        <div class="d-flex flex-grow-1 overflow-hidden bg-secondary-subtle">
                            <img src="@item.Picture2" class="flex-grow-1" style="object-fit: cover" alt="@item.Name" />
                        </div>
                        <div class="lh-sm">
                            <p class="fs-5 fw-bold m-0 mt-2">
                                @item.Name
                            </p>
                            <p class="m-0 mb-3">@item.ProductCategory</p>
                            <p class="fw-bold text-secondary m-0" style="font-size: 0.9rem">Price</p>
                            <p class="fs-4 fw-bold m-0">RM<span>@item.Price</span></p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="px-5 pb-5">
        <p class="fs-4 fw-bold m-0 mb-3">Right For You</p>
        <div class="d-flex">
            <div class="position-relative d-flex overflow-hidden container-fluid bg-primary p-0 me-4" style="height: 650px">
                <img src="images/rightforyou1.png" class="flex-grow-1" style="object-fit: cover" />
                <div class="position-absolute left-0 bottom-0 p-5">
                    <p class="fs-5 fw-bold text-white m-0">Nike Pegasus FlyEase</p>
                    <p class="text-white m-0">Men's Running Shoes</p>
                </div>
            </div>
            <div class="position-relative d-flex overflow-hidden container-fluid bg-secondary p-0" style="height: 650px">
                <img src="images/rightforyou2.png" class="flex-grow-1" style="object-fit: cover" />
                <div class="position-absolute left-0 bottom-0 p-5">
                    <p class="fs-5 fw-bold text-white m-0">Nike Blazer Mid '77 Vintage</p>
                    <p class="text-white m-0">Men's Lifestyle Shoes</p>
                </div>
            </div>
        </div>
    </div>
</section>